body {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.widget-viewport {
  width: 350px;
  height: 280px;
  overflow: hidden;
  position: relative;
}

.cards-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 1050px;
}

/* Stili comuni per le card */
.card {
  width: 350px;
  height: 220px;
  background-color: white;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
}

/* Elementi Prima card */
.temp {
  font-size: 60px;
  font-weight: 500;
  margin: 0;
}
.city {
  font-size: 16px;
  color: #c7c7ce;
  margin-top: 5px;
}
.icon {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/* Seconda e Terza card layout interno */
.second-container,
.third-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hour,
.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.hour-temp,
.day-temp {
  font-weight: 800;
  font-size: 1rem;
}
.hour-icon,
.day-icon {
  width: 30px;
  height: 30px;
}
.hour-time,
.day-name {
  font-size: 0.8rem;
  margin: 0;
}
.am-pm {
  font-size: 0.6rem;
  color: #bdc3c7;
}

/* Puntini */
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 15px;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.dot {
  width: 8px;
  height: 8px;
  background: #d1d1d6;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #34495e;
  width: 20px;
  border-radius: 10px;
}
