/* Stili di default */

body {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
}

.weather-info {
  background-color: white;
  border-radius: 40px;
  padding: 30px;
  width: 450px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.03);
}
