/* Stili di default */
body {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.slide {
  width: 100%;
  overflow-x: auto; /* Permette lo swipe orizzontale */
  scroll-snap-type: x mandatory; /* Effetto calamita */
  scrollbar-width: none;
}

.main-container {
  display: flex; /* Mette le card una di fianco all'altra */
  flex-wrap: nowrap; /* IMPEDISCE che vadano una sotto l'altra */
  padding: 40px; /* Spazio intorno */
  gap: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 25px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #d1d1d6;
  border-radius: 50%;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.dot.active {
  background-color: #2c3e50;
  transform: scale(1.4);
}

/* Stili della prima card */
.card {
  background-color: white;
  min-width: 320px; /* Larghezza fissa per non farle "esplodere" */
  width: 85vw; /* Oppure l'85% della larghezza schermo per mobile */
  max-width: 400px; /* Non diventano mai giganti su PC */

  height: 450px; /* Altezza fissa per tutte */
  border-radius: 40px;
  padding: 30px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);

  flex-shrink: 0; /* Fondamentale: non si schiacciano */
  scroll-snap-align: center; /* LA MAGIA: la card si blocca esattamente al centro */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.temp {
  font-size: 80px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

.city {
  font-size: 17px;
  color: #c7c7ce;
  margin-top: 10px;
}

.icon {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

/* Stili della seconda card */
.second-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.hour {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.hour-temp {
  font-size: 1.1rem;
  font-weight: 800;
}

.hour-icon {
  width: 32px;
  height: auto;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.hour-time {
  margin: 0;
  font-size: 1rem;
}

.am-pm {
  font-size: 0.7rem;
  font-weight: 600;
  color: #bdc3c7;
}

/* Stili terza card */
.third-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 15px;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.daytemp {
  font-weight: 800;
  font-size: 1.1rem;
}

.day-name {
  font-weight: 700;
  margin: 0;
}
